.infoContainer{
    display: grid;
    grid-template-columns: auto auto;
    padding: 16px;
}

/* there is a bug here, i want to put the gallerie from column o to 2 but i get
*   invalid property value...
*/
.galerie{
    grid-column: 0 / 2;
    /* grid-row: 1 / 2; */
    display: flex;
}

.basicInfo{
    /* grid-column: 0 / 1; */
    /* grid-row: 0 / 1; */
}

.abilities{
    /* grid-column: 1 / 2; */
    /* grid-row: 0 / 1; */
}

